# ImgBB API Key
VITE_IMGBB_API_KEY=d31738916419818a85f7264369fffd78

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyD9AQkkcCrBeonSqN_VlFzqJdpVOP5HMOk
VITE_FIREBASE_AUTH_DOMAIN=ai-studio-applet-webapp-ca961.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-studio-applet-webapp-ca961
VITE_FIREBASE_STORAGE_BUCKET=ai-studio-applet-webapp-ca961.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=104872978627
VITE_FIREBASE_APP_ID=1:104872978627:web:2137d29d2c75022d0e5a76
VITE_FIREBASE_DATABASE_ID=ai-studio-215ce934-400f-4201-a57c-9acfc1f0d295

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=service_76fwtld
VITE_EMAILJS_TEMPLATE_ID=template_5hjl8sg
VITE_EMAILJS_PUBLIC_KEY=8cuzuhLX4FAUmIj1T

# Admin Configuration
VITE_ADMIN_EMAIL=swufwebpro@gmail.com
